

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

.macondo-swash-caps-regular {
  font-family: "Macondo Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
}

.jura-<uniquifier> {
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
}

header {
  background: #F2EFEB;
  position: sticky;
  top: 0;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F2EFEB;
  font-family: Jura;
}

p {
  font-family: Jura;
}

img {
  width: 100%;
  height: 100%;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
  column-gap: 20px;
  margin:20px;
}

.plant {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}

.font {
  font-family: Jura, monospace;
  font-size: 16px;
  letter-spacing: -2%;
  line-height: auto;
  margin: 5px;
}

.seen {
  font-family: Jura, monospace;
  font-size: 16px;
  letter-spacing: -6%;
  line-height: auto;
  border-radius: 90px;
  background: rgba(139, 139, 139, 0.25);
  width: 71px;
  padding:0px 8px;
  margin: 5px;
}

.seen:hover {
  background: green;
}

.closeup {
  display: flex;
  flex-direction: column;
}

.header {
  line-height: auto;
}

.backbutton {
  width: 10%;
  height: 10%;
}

#top {
  padding-top: 20px;
  width: 30%;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: -0.24px;
  white-space: nowrap
  font-family: Jura, monospace;
  img {
    width: 80%;
  }
}