

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

.macondo-swash-caps-regular {
  font-family: "Macondo Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
}

.jura-<uniquifier> {
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
}

h1 {
  margin: 0 auto;
}

h2 {
  margin: 0 auto;
  padding-bottom: 4px;
  font-size: clamp(1rem, 2vw, 2rem);
}

h3 {
  margin: 0 auto;
  font-size: clamp(1rem, 2vw, 2rem);
}

h4 {
  margin: 0 auto;
  font-size: clamp(.8rem, 4vw, 1.44rem);
  opacity: 0.5;
}

.font {
  font-size: clamp(.8rem, 2vw, 2rem);
}

p {
  font-size: clamp(.8rem, 4vw, 1.44rem);
}

.plantname1 {
  font-family: 'Brush Script MT';
  font-size: clamp(1.25rem, 4vw, 2.5rem);
}

.plantname2 {
  font-family: rockwell;
  font-size: clamp(1.25rem, 4vw, 2.5rem);
}

.plantname3 {
  font-family: 'courier new';
  font-size: clamp(1.25rem, 4vw, 2rem);
}

.plantname4 {
  font-family: didot;
  font-size: clamp(1.25rem, 4vw, 2.5rem);
}

.plantname5 {
  font-family: gotham;
  font-size: clamp(1.25rem, 4vw, 2.5rem);
}

.plantname6 {
  font-family: akzidenz-grotesk-next-pro;
  font-size: clamp(1.25rem, 4vw, 2.5rem);
}

.plantname7 {
  font-family: arial;
  font-size: clamp(1.25rem, 4vw, 2.5rem);
}

.plantname8 {
  font-family: "comic sans ms";
  font-size: clamp(1.25rem, 4vw, 2.5rem);
}

.plantname9 {
  font-family: verdana;
  font-size: clamp(1.25rem, 4vw, 2.5rem);
}

.plantname10 {
  font-family: "times new roman";
  font-size: clamp(1.25rem, 4vw, 2.5rem);
}

#map {
  width: 100%;
  height: 100%;
}

header {
  background: #F2EFEB;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 20px 20px 10px 20px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F2EFEB;
  font-family: Jura;
}

a {
  color: black;
  text-decoration: none;
}

label {
  font-family: Jura, monospace;
  font-size: clamp(1rem, .5vw, 1rem);
  letter-spacing: -6%;
  line-height: auto;
  border-radius: 90px;
  background: rgba(139, 139, 139, 0.25);
  width: 72px;
  padding:2px 8px;
}

label:hover {
  background: green;
}

.container img {
  width: 100%;
  height: 100%;
}

.closeupcontainer img {
  width: 100%;
  height: 100%;
}

.top img {
  width: 40%;
  max-width: 256px;
}

.backbutton {
  width: 42px;
}

.container {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(2, 1fr);
  row-gap: 16px;
  column-gap: 16px;
  margin:10px;

.plant {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  max-width: 400px;
  min-width: 150px;
  min-height: 250px;
}

.closeup {
  display: flex;
  flex-direction: column;
}

.backbutton img {
  width: 15%;
}

.basicinfo {
  margin: 5px;
  line-height: 170%;
}